html,
body {
  font-family: sans-serif, Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header,
.filter-box {
  background-color: #08055a;
}

.title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: #08055a;
  width: 90%;
  text-align: center;
}

#map {
  width: 70%;
  position: relative;
  left: 30%;
}

h1 {
  color: white;
  font-size: 1.5em;
  margin-top: 50px
}

#map {
  margin: 0;
  width: 85%;
  height: 100vh;
}

main,
#root {
  margin: 0;
}

#map,
.filter-box {
  height: calc(100% - 40px);
}

.filter-box {
  display: inline-block;
  position: absolute;
  top: 94px;
  left: 0;
  width: 25%;
  max-width: 250px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  transform: translate(-250, 0);
  -webkit-transform: translate(0, 0);
  transition: transform 0.3s ease;
}

.hidden {
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.search-box {
  width: 100%;
  margin-top: 5px;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  font-size: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
}

input[type=text] {
  width: 100%;
  padding: 12px 3px;
  box-sizing: border-box;
  color: white;
  background-image: url('http://i47.tinypic.com/r02vbq.png');
  background-repeat: no-repeat;
  background-position: right center;
  outline: 0;
  background-color: #0d78bb;
  font-size: 20px;
}

.filter-box li {
  color: white;
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding-left: 0px;
  font-size: 18px;
  list-style-position: inside;
}

.row-selected {
  background-color: rgba(45, 180, 63, 0.39);
}

ul {
  padding: 10px
}

;
#map.full {
  width: 100%;
  left: 0;
}

.burger svg {
  width: 60px;
  fill: whitesmoke;
}

.burger {
  display: inline-block;
  left: 5px;
  top: 5px;
  padding-left: 15px;
  width: 5%
}

@media screen and (max-width: 641px) {
  .title {
    position: absolute;
  }
  input[type=text] {
    font-size: 12px;
  }
  h1,
  burger,
  .search-box {
    font-size: 16px;
  }
  h1 {
    color: white;
    font-size: 1em;
    margin-top: 20px
  }
  .filter-box {
    top: 65px;
    width: 30%;
  }
  .filter-box li {
    font-size: 14px;
  }
  #map {
    left: 21%;
    width: calc(100% - 21%);
  }
  #map.full {
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  input[type=text] {
    font-size: 12px;
  }
  #map {
    left: 22%;
    width: calc(100% - 22%);
  }
  .title {
    width: 70%
  }
  #map.full {
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 850px) {
  .burger svg {
    display: none;
  }
  #map {
    left: 250px;
    width: calc(100% - 250px);
  }
  #map.full {
    width: 100%;
    left: 0;
  }
}